@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}

header {
    width: 100%; 
    background-image: url('img/sand-background-image.png');
    background-color: #f8fafc;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

header h1 {
    font-size: 32px;
    font-weight: 700;
    color: #121826;
    margin-top: 20px;
}

header p {
    width: 34%;
    font-size: 16px;
    color: #6b7280;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.contenedor {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Para asegurar que los elementos se apilen verticalmente */
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

thead {
    display: table-header-group; /* Mantiene el encabezado de la tabla */
}

thead th {
    color: #3662E3;
    font-size: 16px;
    font-weight: 600;
    padding: 15px;
    text-align: center;
}

thead .active {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

thead .active span {
    background-color: #3662E3;
    padding: 5px 10px;
    border-radius: 20px;
}

tbody td {
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    color: #374151;
    border-bottom: 1px solid rgba(75, 85, 99, 0.2);
}

.bordeSup .descripcion {
    border-top-left-radius: 20px;
}

.bordeInf .descripcion {
    border-bottom-left-radius: 20px;
}

.descripcion {
    text-align: left;
    padding-left: 20px;
    background-color: #f8fafc;
    font-weight: 600;
    color: #111827;
}

.price td {
    font-size: 48px;
    font-weight: 700;
    color: #111827;
    border: 0px;
}

.price .active {
    color: #f8fafc;
}

.month td {
    color: #6b7280;
    font-size: 16px;
    border: 0px;
}

.active {
    background-color: #121826;
    color: white;
}


.active td {
    font-weight: 700;
}

.get {
    width: 240px;
    color: #3662E3;
    font-size: 16px;
    font-weight: 600;
    border: 0px;
    padding: 20px 0;
}

.get span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.get.active {
    background-color: #E9A23B;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 1040px) {
   .free{
    display: none;
   }
   header p {
    width: 46%;
}
   .contenedor {
    width: 100%;
    max-width: 800px; 
}
}

@media (max-width: 640px) {
 
    .contenedor {
        width: 100%;
    }
  
    header p {
        width: 90%;
    }
    table{
        width: 95%;
    }
    .descripcion {
        font-size: 14px;
        padding-left: 10px;
        font-weight: 600;

    }
    .price td {
        font-size: 30px;
        font-weight: 700;
    }
    .get {
        font-size: 12px;
    }
    .free, .team{
     display: none;
    }
 }